.DS_Store

# Compiled Python code
*.pyc

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Testing directories
*test_notebooks
*eeg_tests

# Old files (delete these files soon)
*old

# EEG data
*.fif
*.easy
*.info
*.ini
